header, #content, footer {
	width: 80%;
	max-width: 1000px;
	min-width: 700px;

	margin-right: auto;
	margin-left: auto;
}

header {
	height: 100px;
}

img {
	max-height: 100%;
}

footer {
	margin-top: 15px;
}

.borderTest {
	border-style: dashed;
	border-width: 1px;
}


#logo {
	float: left;
}

#content {
	margin-top: 15px;
	min-height: 450px;
	height: 100%;
}

#firstMenu {
	
}

#firstMenu span {
	display: inline-block;
}

#firstMenu ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
	width: auto;
	position: relative;
	display: block;
	height: 30px;
	font-size: 12px;
	font-weight: bold;
	background: transparent url("../images/nav_bg.png") repeat-x top left;
	font-family: Arial, Helvetica, sans-serif;
	border-bottom: 1px solid #sublile;
	border-top: 1px solid #000000;
}

#firstMenu li {
	display: block;
	float: left;
	margin: 0;
	padding: 0;
}

#firstMenu li a {
	display: block;
	float: left;
	color: #999999;
	text-decoration: none;
	font-weight: bold;
	padding: 8px 20px 0 20px;
}

#firstMenu li a:hover {
	color: #FFFFFF;
	height: 22px;
	background: transparent url("../images/nav_bg.png") 0px -30px no-repeat;
}
#firstMenu li.active a {
	color: #FFFFFF;
	display: inline;
	height: 22px;
	background: transparent url("../images/nav_bg.png") 0px -30px no-repeat;
	float: left;
	margin: 0;
}

#menuCarte {
	float: left;
	margin-top: 5%;
	text-align: center;
}

#menuCarte ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
}

#menuCarte li a {
	width: 51px;
	height: 19px;
	margin-bottom: 5px;
	border-radius: 10px;
	display: block;
	float: left;
	color: #999999;
	text-decoration: none;
	font-weight: bold;
	padding: 2px 20px 0 20px;
	background: transparent url("/wandee/images/test.png") no-repeat;
}

#menuCarte li a:hover{
	color: #FFFFFF;
	background: transparent url("/wandee/images/test.png") 0px -16px no-repeat;
}

#menuCarte li.active a {
	color: #FFFFFF;
	background: transparent url("/wandee/images/test.png") 0px -34px no-repeat;
}
