header, #content, footer {
	width: 80%;
	max-width: 1000px;
	min-width: 700px;

	margin-right: auto;
	margin-left: auto;
}

header {
	height: 100px;
}

img {
	max-height: 100%;
}

footer {
	margin-top: 15px;
}

.borderTest {
	border-style: dashed;
	border-width: 1px;
}


#logo {
	float: left;
}

#content {
	margin-top: 15px;
	min-height: 450px;
	height: 100%;
}

#firstMenu {
	
}

#firstMenu div {
	display: inline-block;
}

#firstMenu ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
	width: auto;
	position: relative;
	display: block;
	height: 30px;
	font-size: 12px;
	font-weight: bold;
	background: transparent url("../images/nav_bg.png") repeat-x top left;
	font-family: Arial, Helvetica, sans-serif;
	border-bottom: 1px solid #sublile;
	border-top: 1px solid #000000;
}

#firstMenu li {
	display: block;
	float: left;
	margin: 0;
	padding: 0;
}

#firstMenu li a {
	display: block;
	float: left;
	color: #999999;
	text-decoration: none;
	font-weight: bold;
	padding: 8px 20px 0 20px;
}

#firstMenu li a:hover {
	color: #FFFFFF;
	height: 22px;
	background: transparent url("../images/nav_bg.png") 0px -30px no-repeat;
}
#firstMenu li.active a {
	color: #FFFFFF;
	display: inline;
	height: 22px;
	background: transparent url("../images/nav_bg.png") 0px -30px no-repeat;
	float: left;
	margin: 0;
}

#menuCarte {
	float: left;
	margin-top: 5%;
	text-align: center;
}

#menuCarte ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
}

#menuCarte li a {
	width: 51px;
	height: 19px;
	margin-bottom: 5px;
	border-radius: 10px;
	display: block;
	float: left;
	color: #999999;
	text-decoration: none;
	font-weight: bold;
	padding: 2px 20px 0 20px;
	background: transparent url("/wandee/images/test.png") no-repeat;
}

#menuCarte li a:hover{
	color: #FFFFFF;
	background: transparent url("/wandee/images/test.png") 0px -16px no-repeat;
}

#menuCarte li.active a {
	color: #FFFFFF;
	background: transparent url("/wandee/images/test.png") 0px -34px no-repeat;
}

#plats {
	display: inline-block;
	width: 88%;
	height: 100%;
	min-height: 400px;
	/*float: left;*/
	margin-top: 7px;
	margin-left: 10px;
}

#image {
	display: block;
	max-width: 500px;
	margin: auto;
	margin-top: 20px;
}

#description {
	width: 80%;
	min-height: 100px;
	margin: auto;	
	margin-top: 20px;
}

.carroussel {
	height: auto;
	margin:0;
	padding:0;	
}

.carroussel#imageLink {
	display: inline-block;
	position: relative;
	text-align: center;
		margin-left: 10%;
}

.carroussel#imageLink div{
	width: auto;
	display: block;
}

.carroussel#titre,
.carroussel#price1,
.carroussel#price2,
.carroussel#price3,
.carroussel#dess {
	display: inline-block;
}

span img {
	max-height: none;
	max-width: 700px;
}

span {
	width: auto;
}

a[name='<'] {
	text-decoration: none;
	position: absolute;
	top: 50%;
	left: 10px;
	width: 40px;
	height: 40px;
	margin-top: -20px;
	font-size: 60px;
	font-weight: 100;
	line-height: 38px;
	color: #ffffff;
	text-align: center;
	background: #222222;
	border: 3px solid #ffffff;
	-webkit-border-radius: 23px;
	-moz-border-radius: 23px;
	border-radius: 23px;
	opacity: 0.5;
	filter: alpha(opacity=50);
}

a[name='>'] {
	text-decoration: none;
	position: absolute;
	top: 50%;
	right: 10px;
	width: 40px;
	height: 40px;
	margin-top: -20px;
	font-size: 60px;
	font-weight: 100;
	line-height: 38px;
	color: #ffffff;
	text-align: center;
	background: #222222;
	border: 3px solid #ffffff;
	-webkit-border-radius: 23px;
	-moz-border-radius: 23px;
	border-radius: 23px;
	opacity: 0.5;
	filter: alpha(opacity=50);
}