.total {
	text-align: right;
}


.lastRow {
	border-top: 1px solid;
}

.message {
	margin-top: 5px;
	margin-bottom: 5px;
}

.errorMessage {
	background-color: red;
}

.confirmationMessage {
	background-color: green;
}

.quantity {
	width:50px;
}

.label-nom {
	min-width:220px;
	margin-right: 10px;
}

select {
	width:auto;
}

.boutonChoix {
	margin-bottom: 10px;
	margin-top: 10px;
}

#surPlace {
	margin-left: 20%;
}

.total {
	margin-right: 15px;
}

.btn-reserver {
	margin-right: 15px;
}