<?xml version="1.0" encoding="iso-8859-1" ?>
<routes>
	<route url="/wandee/" module="cover" action="index" />
	<route url="/wandee/accueil/" module="accueil" action="show" />
	<route url="/wandee/carte/" module="menu" action="showEntrees" />"
	<route url="/wandee/carte/entrees/" module="menu" action="showEntrees" vars="id"/>"
	<route url="/wandee/carte/plats/" module="menu" action="showPlats" vars="id" />"
	<route url="/wandee/carte/desserts/" module="menu" action="showDesserts" />"
	<route url="/wandee/carte/boissons/" module="menu" action="showBoissons" />"
	<route url="/wandee/reservation/" module="reservation" action="show" />
	<route url="/wandee/reservation/reserver/" module="reservation" action="reserver" />
	<route url="/wandee/reservation/reserversurplace/" module="reservation" action="reserverSurPlace" />	
	<route url="/wandee/livredor/" module="goldBook" action="show" />
	<route url="/wandee/livredor/ajouter/" module="goldBook" action="ajouter" />
	<route url="/wandee/contact/" module="contact" action="show" />
	<route url="/wandee/contact/envoyermail/" module="contact" action="envoyerMail" />

	<route url="/wandee/adminplat/" module="adminPlat" action="show" />
	<route url="/wandee/adminplat/add/" module="adminPlat" action="add" />
	<route url="/wandee/adminplat/modify/" module="adminPlat" action="modify" />
	<route url="/wandee/adminplat/delete/" module="adminPlat" action="delete" />
</routes>
